requests
tenacity
python-dotenv
google-adk
firebase-admin

# LiveKit
# uv
# livekit
# livekit-agents
# livekit-plugins-noise-cancellation
# livekit-plugins-silero
# livekit-plugins-turn-detector
# livekit-plugins-google